mixin service_item(name, paragraph, link, link_text, icon_class)
  .col-md-4.col-sm-6
    .service-item
      img.img-rounded(src="...", alt="...")
      h4
        strong #{name}
      p #{paragraph}
      a.btn.btn-light(href="##{link}") #{link_text}

mixin portfolio_item(img_link)
  .col-md-6
    .portfolio-item
      a(href="#")
        img.img-portfolio.img-responsive(src="#{img_link}")
